.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    min-height: 75px;
    background-color: #4a90e2;
}

.leftnav {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
}

.rightnav {
    display: table;
    font-size: 20px;
    font-weight: bold;

}

.navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
  float: left;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

ul a:hover{
    background-color: #000034;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.records {
    text-align: center;
    display: inline-block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  color: white;
  text-align: left;
  padding: 8px;
}

td {
    background-color: #4a90e2;
}

th{
   background-color: #000034;
}

.picture {
    text-align: left;
    display: inline-block;
    vertical-align: top;

}

.container {
    width: 1000px;
    text-align: center;
}

.tableholder {
    display: inline-block;
    width: 400px;
}