.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    min-height: 75px;
    background-color: #4a90e2;
}

.leftnav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
}

.rightnav {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

li a:hover{
    background-color: #000034;
}