{% extends "template.html" %}

{% block content %}
<div class="records">
    <h1>
        Tip and send Nano currency to your favorite Redditors!
    </h1>
    <div class="container">
        <table>
            <tr>
                <th colspan="2">Nano Tipper at a Glance</th>

            </tr>

            <tr>
                <td>Registered Users:</td>
                <td>{{ num_users }}</td>
            </tr>
            <tr>
                <td>Activated Users:</td>
                <td>{{ active_users }}</td>
            </tr>
            <tr>
                <td>Total tipped:</td>
                <td>{{ total_tipped | round }} Nano</td>
            </tr>
            <tr>
                <td>5 Day # of Tips:</td>
                <td>{{ num_5day }} Tips</td>
            </tr>
            <tr>
                <td>5 Day Tip Total</td>
                <td>{{ total_5day | round }} Nano</td>
            </tr>

        </table>
    </div>
        <div class="container" style="font-size: 2px;">
        <table>
            <tr>
                <th colspan=5>Recent Tips</th>
            </tr>
            <tr>
                <th>Datetime</th>
                <th>User</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Transaction Hash</th>
            </tr>
            {% for item in recents %}
            <tr>
                <td>{{ item.datetime }}</td>
                <td><a href="https://www.reddit.com/u/{{ item.user|safe }}">{{ item.user }}</a></td>
                <td><a href="https://www.reddit.com/u/{{ item.recipient|safe }}">{{ item.recipient }}</a></td>
                <td>{{ item.amount}}</td>
                <td><a href="https://nanocrawler.cc/explorer/block/{{ item.hash|safe }}">Nanocrawler</a></td>
            </tr>
            {% endfor %}


        </table>
    </div>
    <h2>
        To sign up, send a PM!
    </h2>
    <div class="container">
        <div class="picture">
            Getting Started
            <ol>
                <li><a href="https://reddit.com/message/compose/?to=nano_tipper&subject=Hi!&message=create">Send a PM</a> to /u/nano_tipper with 'create'<BR><BR></li>
                <li>Receive a free 0.001 Nano Tip!<BR><BR></li>
                <li>Deposit more in your account to tip!<BR><BR></li>
            </ol>
            What next?
            <ol>
                <li>Tip a user by writing "!ntip 0.01" on a post<br><BR></li>
                <li><a href="https://www.reddit.com/r/nano_tipper">Visit us on Reddit</a><BR><BR></li>
                <li><a href="https://github.com/danhitchcock/nano_tipper_z">Visit us on GitHub</a><BR><BR></li>
            </ol>
        </div>
        <img src="{{ url_for('static', filename = 'create.png') }}" alt="User Image" height="50%" class = "picture">
    </div>


</div>

{% endblock %}